<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.witchshop.artifactservice.mapper.TaskExecutionMapper">

    <update id="updateTaskStatus">
        UPDATE task_executions
        SET status = #{status, typeHandler=com.witchshop.sharedlib.typehandler.TaskStatusesTypeHandler}
        WHERE id = #{id, typeHandler=com.witchshop.sharedlib.typehandler.UUIDTypeHandler}
    </update>
    <update id="updateWorkerInTask">
        UPDATE task_executions
        SET worker_id = #{workerId, typeHandler=com.witchshop.sharedlib.typehandler.UUIDTypeHandler}
        WHERE id = #{taskId, typeHandler=com.witchshop.sharedlib.typehandler.UUIDTypeHandler}
    </update>
    <update id="updateTaskAfterEnd">
        UPDATE task_executions
        SET status = #{status, typeHandler=com.witchshop.sharedlib.typehandler.TaskStatusesTypeHandler},
            completed_at = NOW(),
            result_data = #{result}
        WHERE id = #{id, typeHandler=com.witchshop.sharedlib.typehandler.UUIDTypeHandler}
    </update>

</mapper>